<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.fjl.communitymodel">

    <application
        android:name="com.fjl.communitymodel.runalone.MyApplication"
        android:allowBackup="true"
        android:label="@string/community_app_name"
        android:supportsRtl="true"
        android:icon="@drawable/icon"
        android:roundIcon="@drawable/icon"
        android:theme="@style/commonAppTheme"
        tools:replace="android:label">
        <activity android:name="com.fjl.communitymodel.runalone.CommunityActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
